.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homePage {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.infoText{
  height: 25vh;
  width: 50vw;
  margin: 50px;
  /*background: grey;*/
  border-style: none;
  font-family: 'Amatic SC', cursive;
  
  
}
.infoText > h1 {
  font-size: 3em;
}
.infoText > p {
  font-size: 3em;
}

.inputProfil{
  border-radius: 30px;
  background-color: white;
  width: 600px;
  height: 60px;
  border: 1px solid grey;
}

.inputProfil:hover{ box-shadow: 1px 1px 1px 1px; }

 /* Slider */

 .slide{ 
  
   margin: 90px;
   width: 80vw;
   

 }
.d-block {
  border-style: none;
  border-radius:10%;
  padding: 0;
   

}

 /* Navbar */

.navbar{ 
  overflow: hidden;
  height: 70px;
}

.profileimg{
  width: 300px;
 }
 .myPlaces{
  width: 300px;
}
 .homeApp {
   /*background-color: brown;*/
   background-image: url("./images/blackandwhite.JPG"); 
   background-size: cover;
   height: 100%;
   width:100%;
   overflow: hidden;
   background-attachment: fixed;
   
 }
.mapBoxHome {
  margin: 200px;
  padding: 50px;
  border-style: none;
  border-radius:10%;

}

.mapContainer {
  margin: 90px;
  width: 60vw;
  border-style: none;
  border-radius:4%;


}


/* Home */
