.img-conpatiner{
  width:250px;
  height:250px; 
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}


.profileimg{ 
 width: auto;
 height: 250px; 
 border-radius: 10%;
}

.img-conpatiner{
  margin: 15px 0 15px 0;
 }


.allContainer{ 
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.divForm {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}


.formfield{ 
  background: linear-gradient(
    90deg,
    rgba(251, 63, 77, 1) 0%,
    rgba(252, 185, 70, 1) 32%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 500px; 
  border-radius: 10px;
  margin: 10px 0 10px 0; 
  opacity: 0.8;
}

.formfield > input { 
  width: 100px;
}










